# Ignorer le fichier .env
server/.env

# Ignorer les modules node
/node_modules/

# Ignorer les logs
*.log

# Ignorer les fichiers de sortie de build
/dist/
build/

# Ignorer les fichiers temporaires
*.tmp
*.swp

# Ignorer les fichiers de configuration IDE (ex: VSCode)
.vscode/
.idea/

# Ignorer les fichiers d'exécution
*.exe
*.out
